@model IEnumerable<sistema_fornecedor.Models.Fornecedores>

@{
    ViewData["Title"] = "Meus Fornecedores";
}

<h1>Index</h1>

<p>
    <a class="btn btn-success rounded-pill" asp-action="Create">Adicionar Fornecedor <i class="fas fa-user-plus"></i></a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Endereco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cep)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bairro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Endereco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cep)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bairro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone)
            </td>
            <td>
                <div class="btn-group" role="group" aria-label="Ações">
                    <a href="#" class="detailsButton btn btn-primary" data-value="@item.Id"><i class="fas fa-external-link-alt"></i></a>
                    <a type="button" class="btn btn-default" asp-action="Details" asp-route-id="@item.Id" title="Ver fornecedor">
                        <i class="fas fa-eye"></i>
                    </a>
                    <a type="button" class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id" title="Excluir fornecedor">
                        <i class="fas fa-trash"></i>
                    </a>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>

@* Modal *@
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div id="conteudoModal"></div>
      </div>
    </div>
  </div>
</div>


@section scripts{
    <script type="text/javascript">
        $(document).ready(() => {
            $(".detailsButton").click(() => {
                var id = $(this).attr("data-value");
                $("#conteudoModal").load("/Fornecedor/Edit/"+1, () => {
                    $("#exampleModalCenter").modal('show');
                });
            })
        })
    </script>
}